Pillow==9.0.1
jupyter
ipython
numpy==1.21.0
scipy==1.5.2
Cython==0.29.2
matplotlib==3.3.0
pythreejs
pytest==4.6.11
pep8==1.7.1
sphinxcontrib-apidoc
mako
ipykernel==5.3.4
nbformat==5.0.7
sphinx==1.8.4
nbsphinx
imageio==2.4.1
PyYAML
pythreejs

