Pillow==10.0.1
jupyterlab
ipython
numpy==1.21.5
scipy==1.8.0
Cython==0.29.32
matplotlib==3.5.1
pythreejs
pytest==4.6.11
pep8==1.7.1
sphinxcontrib-apidoc
mako
ipykernel==5.3.4
nbformat==5.0.7
sphinx==1.8.4
nbsphinx
imageio==2.4.1
PyYAML
pythreejs
importlib-resources
