Pillow>=4.1.1,<4.2.0
jupyter
ipython
six
numpy==1.16.2
scipy==1.1.0
Cython==0.29.2
matplotlib==2.0.2
pythreejs
pytest
pep8
sphinxcontrib-apidoc
mako
ipykernel
nbformat==4.4.0
sphinx==1.8.4
nbsphinx
imageio
